gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
# Track the manually-maintained flavor-specific registrants (override the rule above)
!**/src/fdroid/**/GeneratedPluginRegistrant.java
!**/src/playstore/**/GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
